{% extends "base.html" %}

{% block content %}
  <h1>이 곳에서 할 일을 생성합니다.</h1>
  <p>추후 기능 추가 예정</p>

  <!--
    사용자가 데이터와 함께 POST 요청을 보냈을때,
    그걸 처리 할 수 있는 별도의 view함수를 만들어서,
    그 곳으로 요청을 보내야한다. 
    index view 함수의 역할은 게시글 전체 조회이기 때문에
    함수는 보통, 하나의 일만 처리 하도록 만드는 것이 맞다.
  -->
  <form 
    action="{% url "todos:new" %}"
    method="POST"
  >
    <!-- POST 방식 요청엔 항상 csrf_token 포함해야한다. -->
    <!--
      csrf_token의 역할은 아래 input 태그가 추가 되는 것.
      <input type="hidden" name="csrfmiddlewaretoken" value="kzoWt0VrncZK8vzOzMZpwiXvSD5C1NjTVN8phCnfkguMyrEPxcwWvvlcWULlZmhR">
     -->
    {% csrf_token %}
    <!-- 
      label의 for 속성은 이 문서안의 input tag중
      내 for 속성에 적힌 값과 동일한 id를 가진 input tag를 찾아서 연결한다.
    -->
    <label for="title">제목 : </label>
    <input type="text" id="title" name="work">

    <label for="content">내용 : </label>
    <textarea name="content" id="content"></textarea>


    <input type="submit" value="제출">
  </form>
{% endblock content %}